<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <test  name="Test"  parallel="tests" thread-count="5" >

       <parameter name="Emailid" value="san111@screenit.io" />

		<parameter name="Password" value="Welcome@1" />
		
		<parameter name="screenshotName"   value="LoginPagePostivescreenshotWithValidEmailidAndPassword"/>

		<classes>

			<class
				name="Test.LoginTestForPostiveAndNegativeFlow" />

		</classes>
 
  </test> <!-- Test -->
</suite> <!-- Suite -->
